/* ============ TIMELINER.JS ============= */

@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");

.timeline-container {
  border-left: 0px solid #4acaa8 !important;
  margin: 20px auto;
  width: 900px;

}
.timeline-toggle {
  background: #4acaa8;
  border-color: #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  float: left;
  font-size: 12px;
  margin-right: 0;
  margin-bottom: 12px;
  padding: 3px 5px ;
  white-space: nowrap;
}
.timeline-wrapper {
  clear: left;
  float: left;
  margin: 0 0 0px;
  width: 900px;
    border-left: 15px solid #4acaa8 !important;
}
.timeline-wrapper h2 {
  background: url(../images/timeline_century_tick.gif) left center no-repeat;

  cursor: pointer;
  font-size: 3em;
  font-weight: 400;
  margin: 0 0 5px;
   font-size: 90%;
  padding: 4px 4px 4px 20px;
}
.timeline-wrapper h2 span {
  background: #4acaa8;
    font-family: "Lato",Palatino, "Times New Roman", Times, serif;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  letter-spacing: 0.1em;
  line-height: 1.7em;
  padding: 4px 4px 4px 20px;
}
.timeline-series {
  clear: left;
  float: left;
  margin: 0 12px 0 0;
  padding: 4px 4px 4px 0;
  position: relative;
  width: 880px;
  font-family:"Lato", Palatino, "Times New Roman", Times, serif;

}
.timeline-series dt {
  background: url(../images/timeline_decade_tick.gif) left center no-repeat;
  font-family:"Lato", Palatino, "Times New Roman", Times, serif;
  clear: left;
  font-size: 1.6em 60%;
  list-style-type: none;
  line-height: 1.2em;
  margin: 0 0 12px;
  padding: 0 0 0 24px;
  white-space: nowrap;
 
}
.timeline-series dt a {
  color: #000;
  cursor: pointer;
    font-family:"Lato", Palatino, "Times New Roman", Times, serif;
}
.timeline-series dt a .closed {
  color: #000;
  font-size: 1em;
  margin-left: 0;
}
.timeline-series dt a .open {
  color: #7DBADF;
}
.timeline-series dt a:hover {
  color: #7DBADF;
}
.timeline-series dd {
  padding-left: 24px;
  width: 100%;
}
.timeline-series dd h3 {
  color: #FFF;
  clear: both;
  float: left;
  font-size: 1.5em;
  margin: 0;
  white-space: nowrap;
}
.timeline-event-content {
  display: none;
  width: 900px;
}
.timeline-event-content p {
  clear: left;
  float: left;
  line-height: 1.5em;
  margin: 6px 0 10px;
  width: 500px;
}
.timeline-event-content h4 {
  clear: left;
  float: left;
  font-size: 1.4em;
  font-weight: 400;
  margin: 10px 0 0;
  padding: 0 0 0 20px;
}
.timeline-event-content blockquote {
  border-left: 2px solid #ccc;
  clear: left;
  float: left;
  font-size: 1.8em;
  margin-left: 0;
  padding: 0 30px;
  width: 400px;
}
.timeline-event-content blockquote .attribution {
  font-size: 0.7em;
  text-align: right;
}
.timeline-event-content .media {
  float: right;
  padding: 0 0 12px;
  width: 300px;
}
.timeline-event-content .media img {
  border: 2px solid #000;
  margin: 0;
}
.timeline-event-content .media p {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}
.timeline-event-content .media a:link,
.timeline-event-content .media a:visited {
  color: #ab221b;
}
.timeline-event-content .media a:hover {
  color: #7DBADF;
}

.tl-callout-info {
    border-left: 15px solid #1b809e !important;
}
.tl-span-info{
  background: #1b809e !important;
}

.tl-callout-orange {
    border-left: 15px solid #FF6633 !important;
}
.tl-span-orange{
  background: #FF6633 !important;
}

.tl-callout-green1 {
    border-left: 15px solid #45B597 !important;
}
.tl-span-green1{
  background: #45B597 !important;
}
.tl-callout-green2 {
    border-left: 15px solid #3D9C82 !important;
}
.tl-span-green2{
  background: #3D9C82 !important;
}



.tl-callout-red {
    border-left: 15px solid #CC0000 !important;
}
.tl-span-red{
  background: #CC0000 !important;
}

.tl-callout-yellow {
    border-left: 15px solid #FFCC00 !important;
}
.tl-span-yellow{
  background: #FFCC00 !important;
}

.tl-callout-purple {
    border-left: 5px solid #993399 !important;
}
.tl-span-purple{
  background: #993399 !important;
}


.tl-callout-pink {
    border-left: 5px solid #CC6699 !important;
}
.tl-span-pink{
  background: #CC6699 !important;
}

.tl-callout-009999 {
    border-left: 5px solid #009999 !important;
}
.tl-span-009999{
  background: #009999 !important;
}

.tl-callout-CCCCFF {
    border-left: 5px solid #CCCCFF !important;
}
.tl-span-CCCCFF{
  background: #CCCCFF !important;
}
.tl-callout-gray {
    border-left: 5px solid #6D6D6D !important;
}
.tl-span-gray{
  background: #6D6D6D !important;
}


.tl-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #08AAAA;
    border-image: none;
    border-radius: 1px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    margin: 0px 0;
    padding: 3px;
    text-align:left;
}
